* {
  background-color: #152347;
  color: rgb(137, 59, 168);
}

body {
    max-width: 500px;
    margin-top:20vh;
    margin-left:auto;
    margin-right:auto;
	font-family: "Space Mono", monospace;
}

#hacktober-logo {
    display: block;
    width: 100%;
    margin: auto;
}

#learn-more-btn {
    display: block;
    margin: auto;
}

.button {
    background-color: #a11ec6;
    border-color: #a11ec6;
    border-width: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    padding-bottom: 1.125em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.125em;
    text-align: center;
    white-space: nowrap;
    margin-top: 5px;
    display: inline-block;
    border-radius: 30px;
}

p, h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px 10px;
}

.bigWhite {
    color:#fff;
}

.button > svg {
    background-color: #a11ec6;
} 

.button > span {
    background-color: #a11ec6;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#share-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#share-buttons > .button {
    height: 42px;
    width: 120px;
}

#share-buttons > * {
    vertical-align: middle;
  }
