* {
  background-color: #152347;
  color: rgb(137, 59, 168);
}

body {
    max-width: 500px;
    margin: auto;
}

#hacktober-logo {
    display: block;
    width: 100%;
    margin: auto;
}

#learn-more-btn {
    display: block;
    margin: auto;
    border-radius: 30px;
}

.button {
    background-color: #a11ec6;
    border-color: #a11ec6;
    border-width: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    padding-bottom: 1.125em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.125em;
    text-align: center;
    white-space: nowrap;
    margin-top: 5px;
    display: inline-block;
}

p, h1 {
    text-align: center;
}